.portal {
  background: linear-gradient(45deg, #9b7f7b, #f39072);
  width: 300px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all .4s;
  padding: 25px 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portal h2 {
  margin-bottom: 10px;
}

.portal h4 {
  font-weight: 600;
}

.portal:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.portal:nth-child(1) {
  background: #fff;
}

.portal:nth-child(2) {
  background: linear-gradient(45deg, #72c2ff, #86f0ff);
}

.portal:nth-child(3) {
  background: linear-gradient(45deg, #9ce89d, #cdfa7e);
}

.portal:nth-child(4) {
  background: linear-gradient(45deg, #e0e89c, #faf87e);
}

.portal:nth-child(5) {
  background: linear-gradient(45deg, #e89cd5, #d77efa);
}

.portal:nth-child(6) {
  background: linear-gradient(45deg, #9cd9e8, #7ee7fa);
}

.portal:nth-child(7) {
  background: linear-gradient(45deg, #e8d09c, #faf87e);
}

.portal:nth-child(8) {
  background: linear-gradient(45deg, #9b7f7b, #f39072);
}

.portal:nth-child(9) {
  background: linear-gradient(45deg, #b2d4ae, #485f22);
}

.portal:nth-child(10) {
  background: linear-gradient(45deg, #bd9ce8, #7e80fa);
}